
/* common utilities */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
.container{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.title-text{
    font-size: 24px;
    font-weight:700;
    text-decoration: none;
}
/* nav-styles */
.link{
    margin: 100px 0px;
}
.link-items{
    display: flex;
    justify-content: space-around;
}
.products-link{
    display: flex;
}

.products-link a{
    
    margin-right:30px;
    font-size: 16px;
}

/* Top banner styles */
.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 100px;
}
.half-width{
    width: 48%;
}
.half-width p{
    font-size: 16px;
    font-weight: 600;
    color: #18191F;

}
.half-width h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.link-button{
    background-color: #E02C6D;
    width: 196px;
    height:44px;
    border-radius: 41px;
    border: none;
    Padding:10px, 24px, 10px, 24px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.half-width img:hover{
    transform: rotate(40deg);
    transition:transform 1s ease-in-out;
}

/* ecommerce styles */
.e-commerce{
    display: flex;
    width: 80%;
    margin: 8%;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border: 1px lightblue gray;
    box-shadow: 0px 0px 10px rgba(202, 201, 201, 0.781);
}
.e-commerce img{
    padding: 15px;
}

/* collection styles */
.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.Popular-collection{
    display: grid;
    margin:2% 10%;
    justify-content: center;
    align-items: center;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.collection{ 
    width: 330px;
    height: 475px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: -10px 10px 70px lightblue;
}
.product-title{
    font-size:28px;
    font-weight: 500;
}
.product-price{
    font-size: 24px;
    font-weight: 400;
}
.product-value{
    display: flex;
    align-items: center;
    flex-direction: row
}
.product-ratings{
    font-size: 16px;
    color: orange;
    padding-right: 10px;
}
.product-img{
    height: 100%;
}
.product-details{
    width: 100%;
    height: 50%;
}