
/* common utilities */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
.container{
    width: 100%;
    /* text-align: center; */
}
a{
    text-decoration: none;
    color: black;
}
.title-text{
    font-size: 24px;
    font-weight:700;
    text-decoration: none;
}
/* nav-styles */
.link{
    margin: 100px 0px;
}
.link-items{
    display: flex;
    justify-content: space-around;
}
.products-link{
    display: flex;
}

.products-link a{
    
    margin-right:30px;
    font-size: 16px;
}

/* Top banner styles */
.top-banner{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 100px;
}
.half-width{
    width: 48%;
}
.half-width p{
    font-size: 16px;
    font-weight: 600;
    color: #18191F;

}
.half-width h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.link-button{
    background-color: #E02C6D;
    width: 196px;
    height:44px;
    border-radius: 41px;
    border: none;
    Padding:10px, 24px, 10px, 24px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.half-width img:hover{
    transform: rotate(40deg);
    transition:transform 1s ease-in-out;
}